<!DOCTYPE html>
<html>
<head>
    <title>Display Table</title>
</head>
<body>
    <h1>Table</h1>
    <table>
        <thead>
            <tr>
                <th>COURSE Name</th>
                <th>Lecturer Name</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes %}
            <tr>
                <td>{{ class.name }}</td>
                <td>{{ class.lecturer.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
